.contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
}

.eachcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 400px; /* Adjust as needed */
}

.deletebutton {
    margin-top: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}