body {
  margin: 0;
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  background-color: #f5efe2;
  color: #173246;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

a,
button,
input,
textarea {
  font: inherit;
}
